<section class="panel">
    <header class="panel-heading">
        Best Seller
    </header>
    <div class="panel-body">
        <div class="best-seller">
            <article class="media">
                <a class="pull-left thumb p-thumb">
                    <img src="https://via.placeholder.com/250x220/FFB6C1/000000" />
                </a>
                <div class="media-body">
                    <a href="#" class="p-head">Item One Tittle</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </article>
            <article class="media">
                <a class="pull-left thumb p-thumb">
                    <img src="https://via.placeholder.com/250x220/A2BE2/000000" />
                </a>
                <div class="media-body">
                    <a href="#" class="p-head">Item Two Tittle</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </article>
            <article class="media">
                <a class="pull-left thumb p-thumb">
                    <img src="https://via.placeholder.com/250x220/6495ED/000000" />
                </a>
                <div class="media-body">
                    <a href="#" class="p-head">Item Three Tittle</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </article>
        </div>
    </div>
</section>