<div class="limiter">
    <div class="container-login100" style="background-image: url('../../public/trade/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/register" method="POST">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Register
                </span>

                <% if (errors != "undefined") { %>
                    
                    <% include('../../views/partials/_error.ejs') %> 
                <% } %>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" value="<%= typeof firstName != 'undefined' ? firstName : ''%>" name="firstName" placeholder="firstName">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" value="<%= typeof lastName != 'undefined' ? lastName : ''%>" name="lastName" placeholder="lastName">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="email" value="<%= typeof email != 'undefined' ? email : ''%>" name="email" placeholder="email">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" value="<%= typeof userName != 'undefined' ? userName : ''%>" name="userName" placeholder="userName">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="re-password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>



                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="/login">
                        Login?
                    </a>
                    <br>
                    <a class="txt1" href="/register">
                        Register?
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>