<div class="limiter">
    <div class="container-login100" style="background-image: url('../../public/trade/images/bg-01.jpg');">
        <div class="wrap-login100 asd">
            <form class="login100-form validate-form" action="/reset-password" method="POST">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Reset Password
                </span>
                <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id : ''%>">
                <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token : ''%>">
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="re-password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Reset Password
                    </button>
                </div>

                <div class="text-center p-t-90">

                </div>

            </form>
        </div>
    </div>
</div>